<html>
<style>
    .container {width:100%; margin:auto;}
    @media (min-width: 600px) {
        .container {
            width: 80%;
        }
    }
    @media (min-width: 768px) {
        .container {
            width: 60%;
        }
    }
    @media (min-width: 1024px) {
        .container {
            width: 50%;
        }
    }

</style>
<div class="container"></div>
    <h1>My First Machine Learning Web Application in cloud: DBS prediction</h1>
    <form action="/" method="post">
        <p><h2>Wlcome to hugging Face Ethical Test, my name is T A. May I know your name?</h2></p>
        <p><input type="text" name="name"></p>
        <p><input type="submit" value="Enter"></p>
    </form>
</html>